<app-navbar></app-navbar>
<app-breadcrumb-ux [titulo]="titulo"></app-breadcrumb-ux>
<main class="page">
    <div class="container">
        <div class="col-md">
            <br>
            <p class="texto">
                El Programa de Monitoreo de la Casuística (PMC) es una herramienta creada para integrar,
                corregir y tener acceso a los casos de riesgos de trabajo terminados, los cuales son
                actualizados mensualmente en los componentes PMC a través de la interoperabilidad con los
                sistemas de las áreas de Salud en el Trabajo y Prestaciones Económicas.
                <br>
                <br>
                La funcionalidad de PMC esta diseñada para identificar y filtrar los casos de riesgos de
                trabajo que son susceptibles de ajustes o correcciones para que tú puedas realizar los
                movimientos correspondientes conforme a los criterios contenidos en tus procedimientos
                normativos vigentes en materia de Administración de la Prima en el Seguro de Riesgos de
                Trabajo.
                <br>
                <br>
                Te recomendamos, previo a utilizar el sistema, descargues el Manual de Usuario e
                identifiques los atributos con los que cuentas de acuerdo a tu rol operativo o normativo.
                <br>
            </p>
        </div>
        <div class="col-md text-right">
            <a href="assets/Manual_de_usuario_PMC_2022-08-18.pdf" download="Manual_de_usuario_PMC_2022-08-18"
                class="btn btn-primary botones">Descargar<br>Manual de Usuario</a>
            <a href="assets/Preguntas_Frecuentes_31032021.pdf" download="Preguntas_Frecuentes_31032021.pdf"
                class="btn btn-primary botones">Preguntas<br>frecuentes</a>
        </div>
        <div>
            <br>
        </div>
    </div>
</main>