# See http://help.github.com/ignore-files/ for more about ignoring files.
 
# compiled output
/dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out
 
# dependencies
/node_modules
 
# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json
 
# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
 
# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*
 
# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings
 
# System Files
.DS_Store
Thumbs.db
respaldoInicioSubDel/proxy.config.json
respaldoInicioSubDel/src/app/app-routing.module.ts
respaldoInicioSubDel/src/app/app.component.html
respaldoInicioSubDel/src/app/app.component.spec.ts
respaldoInicioSubDel/src/app/casuistica/components/approve-modifications/approve-modifications-ui/approve-modifications-ui.component.html
respaldoInicioSubDel/src/app/casuistica/components/approve-modifications/approve-modifications.module.ts
guipmc-casuistica/proxy.config.json
guipmc-casuistica/proxy.config.json
