input {
    width: 80%;
}

.izqText {
    margin-top: 0px;
    text-align: left;
}

.inputTamanioNormal {
    width: 90%;
    text-align: left;
}

.inputTamanioReducido {
    width: 90%;
    font-size: 12px;
}

.izqText {
    margin-top: 0px;
    text-align: left;
}

.inputTamanioNormal100 {
    width: 95%;
    text-align: left;
}

.inputTamanioNormal200 {
    width: 97%;
    text-align: left;
}

.inputTamanioReducido {
    width: 90%;
    font-size: 12px;
}