.inactive {
    color: #BDBDBD;
}

.nav-title-pmc {
    color: #fff;
    display: block;
    float: left;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 15px;
    font-stretch: 100%;
    font-style: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-weight: 300;
    height: 60px;
    line-height: 25px;
    margin-left: -15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    position: relative;
    text-decoration-color: rgb(255, 255, 255);
    text-decoration-line: none;
    text-decoration-style: solid;
    text-size-adjust: 100%;
    top: 1px;
}