<app-navbar></app-navbar>
<app-breadcrumb-ux [titulo]="titulo"></app-breadcrumb-ux>

<main class="page">


    <div class="container">
        <form class="form-inline" [formGroup]="formGroup">
            <div class="row">
                <p>Ingresa los datos para realizar la búsqueda</p>
            </div>


            <br>

            <div class="row">
                <div class="form-group col-md-3 ">
                    <h3 style="margin-top:0px;">Tipo de fecha</h3>
                    <select class="form-control" formControlName="tipoFecha" (change)="selectSuggestionTipoFecha($event.target.value)" style="width: 100%;">
                        <option value="-1">
                            <span>Selecciona una opción</span>
                        </option>
                        <option value="1">
                            <span>Fecha de consulta</span>
                        </option>
                        <option value="2">
                            <span>Fecha de proceso</span>
                        </option>
                    </select>
                </div>
            </div>

            <div class="row collapse" id="divFechaConsulta">
                <div class="form-group col-md-3">
                    <h3 style="margin-top:0px;">Desde</h3>
                    <div class="form-group datepicker-group">
                        <input class="form-control" type="text" id="fechaInicioConsulta" formControlName="date" readonly>
                        <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                    </div>
                </div>
                <div class="form-group col-md-3">
                    <h3 style="margin-top:0px;">Hasta</h3>
                    <div class="form-group datepicker-group">
                        <input class="form-control" type="text" id="fechaFinConsulta" formControlName="date2" readonly>
                        <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                    </div>
                </div>
            </div>

            <div class="row collapse" id="divFechaProceso">
                <div class="form-group col-md-3">
                    <h3 style="margin-top:0px;">Desde</h3>
                    <div class="form-group datepicker-group">
                        <input class="form-control" type="text" id="fechaInicioProceso" formControlName="date3" readonly>
                        <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                    </div>
                </div>
                <div class="form-group col-md-3">
                    <h3 style="margin-top:0px;">Hasta</h3>
                    <div class="form-group datepicker-group">
                        <input class="form-control" type="text" id="fechaFinProceso" formControlName="date4" readonly>
                        <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                    </div>
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-md-3">
                    <h3 style="margin-top:0px;">Delegación</h3>
                    <select class="form-control" formControlName="delegation" (change)="chargeSubDelegation($event.target.value)" style="width: 100%;">
                        <option value="-1">
                            <span>Selecciona una opción</span>
                        </option>
                        <option *ngFor="let del of selectDelegacion" [value]="del.clave">
                            {{ del.descripcion }}
                        </option>
                    </select>
                </div>

                <div class="col-md-3">
                    <h3 style="margin-top:0px;">Subdelegación</h3>
                    <select [ngClass]="[!formGroup.controls['subDelegation'].valid? 'form-control-error':'form-control']  " formControlName="subDelegation" style="width: 100%;">
                        <option value="-1">
                            <span>Selecciona una opción</span>
                        </option>
                        <option *ngFor="let subDel of selectSubDelegacion" [value]="subDel.clave">
                            {{ subDel.descripcion }}
                        </option>
                    </select>
                </div>

                <div class="col-md-3">
                    <h3 style="margin-top:0px;">Tipo de riesgo</h3>
                    <select class="form-control" formControlName="tipoRiesgo" style="width: 100%;">
                        <option value="-1">
                            <span>Selecciona una opción</span>
                        </option>
                        <option *ngFor="let sts of catTipoRiesgo" [value]="sts.cveCatalogo">
                            {{sts.cveCatalogo}} - {{ sts.descCatalogo}}
                        </option>
                    </select>
                </div>

                <div class="col-md-3">
                    <h3 style="margin-top:0px;">Consecuencia</h3>
                    <select class="form-control" formControlName="consecuencia" style="width: 100%;">
                        <option value="-1">
                            Selecciona una opción
                        </option>
                        <option *ngFor="let sts of catConsecuencia" [value]="sts.cveCatalogo">
                            {{sts.cveCatalogo}} - {{ sts.descCatalogo}}
                        </option>

                    </select>
                </div>



            </div>
            <br>

            <div class="row">


                <!-- <div class="col-md-3">
                    <h3 style="margin-top:0px;">Estado del registro</h3>
                    <select class="form-control" formControlName="estadoRegistro" style="width: 100%;">
                        <option value="-1">
                            <span>Selecciona una opción</span>
                        </option>
                        <option *ngFor="let sts of catEstadoRegistro" [value]="sts.cveCatalogo">
                            {{ sts.descCatalogo }}
                        </option>
                    </select>
                </div> -->

                <div class="col-md-3">
                    <h3 style="margin-top:0px;">Estado del registro</h3>
                    <mat-select multiple [placeholder]="'Selecciona una opción'" formControlName="estadoRegistroList">
                        <ng-container *ngFor="let sts of catEstadoRegistro; let i = index">
                            <mat-option [value]="sts.cveCatalogo">{{ sts.descCatalogo }}</mat-option>
                        </ng-container>
                    </mat-select>
                </div>

                <div class="col-md-3">
                    <h3 style="margin-top:0px;">Situación del registro</h3>
                    <select class="form-control" formControlName="situacionRegistro" style="width: 100%;">
                        <option value="-1">
                            <span>Selecciona una opción</span>
                        </option>
                        <option *ngFor="let sts of catSituacionRegistro" [value]="sts.cveCatalogo">
                            {{ sts.descCatalogo }}
                        </option>
                    </select>
                </div>

                <div class="col-md-3">
                    <h3 style="margin-top:0px;">Acción del registro</h3>
                    <select class="form-control" formControlName="accionRegistro" style="width: 100%;">
                        <option value="-1">
                            <span>Selecciona una opción</span>
                        </option>
                        <option *ngFor="let sts of catAccionRegistro" [value]="sts.cveCatalogo">
                            {{ sts.descCatalogo }}
                        </option>
                    </select>
                </div>

                <div class="col-md-3">
                    <h3 style="margin-top:0px;">Tipo de registro</h3>
                    <select class="form-control" formControlName="casoRegistro" style="width: 100%;">
                        <option value="-1">
                            <span>Selecciona una opción</span>
                        </option>
                        <option *ngFor="let sts of catCasoRegistro" [value]="sts.cveCatalogo">
                            {{ sts.descCatalogo}}
                        </option>

                    </select>
                </div>


                <br>


            </div>

            <br>
            <div class="row">
                <div class="col-md-3">
                    <h3 style="margin-top:0px;">Tipo de consulta</h3>
                    <select class="form-control" formControlName="campoSugerido" (change)="selectSuggestion($event.target.value)" style="width: 100%;">
                        <option value="-1">
                            <span>Selecciona una opción</span>
                        </option>
                        <option value="2"><span>N&uacute;mero de Seguridad Social</span></option>
                        <option value="1"><span>Registro Patronal</span></option>
                        <option value="3"><span>RFC Patronal</span></option>
                        <option value="4"><span>Clase</span></option>
                        <option value="5"><span>Actividad económica</span></option>
                        <option value="6"><span>Laudo</span></option>
                    </select>
                </div>

                <div class="col-md-3" *ngIf="isRP">
                    <h3 style="margin-top:0px;">Registro Patronal</h3>
                    <input [ngClass]="[!formGroup.controls['registroPatronal'].valid && formGroup.controls['registroPatronal'].touched ? 'form-control-error':'form-control']" id="registroPatronal" placeholder="Registro Patronal" type="text" formControlName="registroPatronal"
                        maxlength="11">
                    <span class="error-class">{{ getError('registroPatronal')}}</span>
                </div>
                <div class="col-md-3" *ngIf="isNSS">
                    <h3 style="margin-top:0px;">N&uacute;mero de seguridad social</h3>
                    <input [ngClass]="[!formGroup.controls['nss'].valid && formGroup.controls['nss'].touched ? 'form-control-error':'form-control']" id="nss" placeholder="N&uacute;mero de Seguridad Social" type="text" formControlName="nss" maxlength="11">
                    <span class="error-class">{{ getError('nss')}}</span>
                </div>
                <div class="col-md-3" *ngIf="isRFC">
                    <h3 style="margin-top:0px;">RFC Patronal</h3>
                    <input [ngClass]="[!formGroup.controls['rfc'].valid && formGroup.controls['rfc'].touched ? 'form-control-error':'form-control']" id="rfc" placeholder="RFC Patronal" type="text" formControlName="rfc">
                    <span class="error-class">{{ getError('rfc')}}</span>
                </div>

                <div class="col-md-3" *ngIf="isClase">
                    <h3 style="margin-top:0px;">Clase</h3>
                    <select class="form-control" formControlName="clase" style="width: 100%;" id="clase">
                        <option value="-1">
                            <span>Selecciona una opción</span>
                        </option>
                        <option *ngFor="let sts of catClase" [value]="sts.cveCatalogo">
                            {{sts.cveCatalogo}} - {{ sts.descCatalogo}}
                        </option>
                    </select>
                </div>

                <div class="col-md-3" *ngIf="isFraccion">
                    <h3 style="margin-top:0px;">Fracci&oacute;n</h3>
                    <select class="form-control" formControlName="fraccion" style="width: 100%;" id="fraccion">
                        <option value="-1">
                            <span>Selecciona una opción</span>
                        </option>
                        <option *ngFor="let sts of catFraccion" [value]="sts.cveCatalogo">
                            {{sts.cveCatalogo}} - {{ sts.descCatalogo}}
                        </option>
                    </select>
                </div>

                <div class="col-md-3" *ngIf="isLaudo">
                    <h3 style="margin-top:0px;">Laudo</h3>
                    <select class="form-control" formControlName="laudo" style="width: 100%;" id="laudo">
                        <option value="-1">
                            <span>Selecciona una opción</span>
                        </option>
                        <option *ngFor="let sts of catLaudo" [value]="sts.cveCatalogo">
                            {{sts.cveCatalogo}} - {{ sts.descCatalogo}}
                        </option>
                    </select>
                </div>

            </div>
            <br>

            <div class="row">
                <div class="col-md-5">
                    <div class="form-group col-md-offset-1 col-md-11" style="margin-left: 0px; padding-left: 0px;">
                        <label class="col-sm-7" for="email">

                        </label>

                    </div>
                </div>
                <div class="col-md-12 text-right">
                    <button type="button" class="btn btn-default" (click)="clear()">Limpiar</button>
                    <button type="button" class="btn btn-primary" (click)="search()">Buscar</button>
                    <button type="button" (click)="reporte()" class="btn btn-primary" *ngIf="visualizarExportar">Descargar reporte</button>

                </div>
            </div>

            <!--         TABLA CON RESULTADOS      -->
            <div *ngIf="cambiosResponse?.data?.length > 0">
                <div class="row">
                    <h2>Resultados de búsqueda</h2>
                    <hr class="red">
                </div>
                <div class="row table-responsive">
                    <table class="table table-bordered table-striped" style="border: solid 1px #DDDDDD; ">

                        <tbody>
                            <tr>
                                <th style="text-align: center">NSS del asegurado</th>
                                <th style="text-align: center">Nombre del asegurado</th>
                                <th style="text-align: center">Registro patronal</th>
                                <th style="text-align: center">Fecha de inicio de incapacidad</th>
                                <th style="text-align: center">Consecuencia</th>
                                <th style="text-align: center">Tipo de riesgo</th>
                                <th style="text-align: center">Días subsidiados</th>
                                <th style="text-align: center">Porcentaje de incapacidad</th>
                                <th style="text-align: center">Fecha de término de incapacidad </th>
                                <th style="text-align: center">Estatus</th>
                                <th style="text-align: center">Folio de movimiento original</th>
                                <th style="text-align: center">Fecha y hora de cambio</th>
                            </tr>
                            <tr *ngFor="let resuT of cambiosResponse.data, let i = index">
                                <td style="text-align: center"><a (click)="irDetalle(resuT)"> {{resuT.numNss}} </a></td>
                                <td style="text-align: center">{{resuT.nomCompletoAsegurado}}</td>
                                <td style="text-align: center">{{resuT.refRegistroPatronal}}</td>
                                <td style="text-align: center">{{resuT.fecInicio | date:'dd/MM/yyyy':'+0700':'es'}}</td>
                                <td style="text-align: center">{{resuT.desConsecuencia}}</td>
                                <td style="text-align: center">{{resuT.desTipoRiesgo}}</td>
                                <td style="text-align: center">{{resuT.numDiasSubsidiados}}</td>
                                <td style="text-align: center">{{resuT.porcentajeIncapacidad}}</td>
                                <td style="text-align: center">{{resuT.fecFin | date:'dd/MM/yyyy':'+0700':'es'}} </td>
                                <td style="text-align: center">{{resuT.desEstadoRegistro}}</td>
                                <td style="text-align: center">{{resuT.numFolioMovtoOriginal}}</td>
                                <td style="text-align: center">{{resuT.fecActualizacion | dateString : 'full'}}</td>
                            </tr>


                        </tbody>
                    </table>
                    <span class="paginator-count">Registro {{ (cambiosResponse.page && cambiosResponse.page !== 1 ? (cambiosResponse.page - 1) * cambiosResponse.size + 1 : 1) | number }} al
                        {{ (cambiosResponse.page && cambiosResponse.page !== 1 ? cambiosResponse.totalRows !== cambiosResponse.page ?
                            cambiosResponse.page * cambiosResponse.size : cambiosResponse.totalElements : (cambiosResponse.page && cambiosResponse.totalRows === 1) ?
                            cambiosResponse.totalElements : cambiosResponse.size) | number }}
                        de {{ cambiosResponse.totalElements | number }}</span>
                    <ngb-pagination [(page)]="page" [pageSize]="cambiosResponse.size" [collectionSize]="cambiosResponse.totalElements" [rotate]="true" [maxSize]="10" (pageChange)="paginatorEvent($event)" [ngClass]="{'hide-last-page': hideLastPage}">
                        <ng-template ngbPaginationFirst>First</ng-template>
                        <ng-template ngbPaginationLast>Last</ng-template>
                        <ng-template ngbPaginationPrevious>Anterior</ng-template>
                        <ng-template ngbPaginationNext>Siguiente</ng-template>
                        <ng-template ngbPaginationEllipsis>...</ng-template>
                        <ng-template ngbPaginationNumber let-page>{{ page }}</ng-template>
                    </ngb-pagination>
                </div>
            </div>
            <!--        FIN DE TABLA CON RESULTADOS      -->
            <br>
        </form>

        <div class="modal fade" id="dialogMessage">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">{{titDialogo}}</h4>
                    </div>
                    <div class="modal-body">
                        <p>{{messDialogo}}</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" (click)="hideMessage()">Regresar</button>
                    </div>
                </div>
            </div>
        </div>



    </div>
    <br>
    <div class="modal fade" id="dialogMessageReporte">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">{{titDialogo}}</h4>
                </div>
                <div class="modal-body">
                    <p>{{messDialogo}}</p>
                </div>
                <div class="modal-footer">
                    <!--button type="button" class="btn btn-primary" (click)="downloadPDFReport()">PDF</button-->
                    <button type="button" class="btn btn-primary" (click)="downloadXlsReport()">Excel</button>
                    <button type="button" class="btn btn-primary" (click)="hideMessageReporte()">Regresar</button>

                </div>
            </div>
        </div>
    </div>
    <!-- Modal de advertencia de no generacion de reporte -->
    <div class="modal fade" id="dialogMessageReporteMuyLargo">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Reporte demasiado largo</h4>
                </div>
                <div class="modal-body">
                    <p>Favor de añadir más filtros para reducir el tamaño del reporte, el numero máximo de registros para el reporte es 400</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" (click)="hideMessageReporteMuyLargo()">Regresar</button>
                </div>
            </div>
        </div>
    </div>
    <br>

    <br>
</main>
<ngx-spinner></ngx-spinner>